@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 20%;
  height: 20%;
}
.book-container {
  display: flex;
}
.book-list {
  width: 45%;
  margin-right: 8%;
  margin-left: 1%;
}
.bookshelf {
  width: 45%;
  float: right;
  margin-right: 1%;
}


.all-books {
  margin-top: 20px;
}

#add-book-form {
  margin: 20px;
}

.title-banner {
  text-align: center;
  color: white;
  background-color: black;
  font-size: 5em;
  padding: 50px;
}

h1, h2, .title-banner {
  font-family: 'Cabin Sketch', cursive !important;
  text-align: center;
}
